<p>form works!</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input type="email" formControlName="email" placeholder="email" >
  <div *ngIf="email!.invalid &&(email!.dirty||email!.touched)" class="error">
   <div *ngIf="email!.errors?.['required']">Email is required</div>
   <div *ngIf="email!.errors?.['email']">Email is not valid</div>
  </div>
  <input type="password" formControlName="password" placeholder="password">
  <button [disabled]="loginForm.invalid" type="submit">send</button>
</form>
<h1>email:{{loginForm.value.email}}</h1>
<h1>password:{{loginForm.value.password}}</h1>
